<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
   <%# @usersを渡すことで自動的にユーザーのコレクションを列挙して
   userパーシャルで出力してくれる %>
  <%= render @users %>
</ul>

<%= will_paginate %>
